<div class="container-fluid" id="section0">
    <div class="background"></div>
    <div class="overlay" data-aos="fade-right"></div>
    <div class="container">
        <div class="row header">
            <div class="col col-xl-10">
                <h1 data-aos="fade-up">Education</h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-xl-10" data-aos="fade-right">
                <div class="divider"></div>
                <ul>
                    <li>
                        <span class="name">Hamilton Southeastern High School</span>
                        <span class="date">June 2016 &mdash; June 2020</span>
                        <p class="desc">Academic Honors + AP Capstone Diploma, Magna Cum Laude, 4.18/4.00</p>
                    </li>
                    <li>
                        <span class="name">University of California, San Diego</span>
                        <span class="date">June 2020 &mdash; Present</span>
                        <p class="desc">B.S. in Cognitive Science with a Specialization in Machine Learning and Neural Computation</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>