@import '../../assets/css/variables.scss';

#section0 {
    .overlay {
        background: url('../../assets/img/Geisel.JPG');
        background-size: cover;
        background-position: center center;
        opacity: 0.5;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        span {
            display: block;
            @media (min-width: 768px) {
                display: inline-block;
            }
        }

        .name {
            font-weight: 400;
        }

        .name, .desc {
            @media (min-width: 768px) {
                float: left;
            }
        }

        .date {
            display: none;
            @media (min-width: 768px) {
                display: block;
                font-weight: 400;
                float: right;
            }
        }
    }
}