<div class="container-fluid" id="section0">
    <div class="background"></div>
    <div class="container">
        <div class="row header">
            <div class="col col-xl-10">
                <h1 data-aos="fade-up">Projects</h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-xl-10" data-aos="fade-right">
                <div class="divider"></div>
                <div class="slick">
                    <div class="card" *ngFor="let proj of projects">
                        <div class="card-body">
                            <img src="{{ proj.icon }}" />
                            <p class="card-title pt-2">{{ proj.name }}</p>
                            <p class="card-text pt-2">{{ proj.desc }}</p>
                            <a *ngFor="let link of proj.links" href="{{ link[1] }}" class="mr-2">{{ link[0] }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>