<div class="container-fluid" id="section0">
    <div class="background"></div>
    <div class="container">
        <div class="row header">
            <div class="col col-xl-10">
                <h1 data-aos="fade-up">Contact</h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-xl-10" data-aos="fade-right">
                <div class="divider"></div>
                <p>
                    I’m available on most platforms under the username “rasfmar”. You can email me at <a href="mailto:m6franco@ucsd.edu">m6franco@ucsd.edu</a>.
                </p>
            </div>
        </div>
    </div>
</div>