@import '../assets/css/variables.scss';

.desktop-nav {
    margin-left: auto;
    padding-top: 127px;

    svg {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    h1 {
        color: transparent;
        -webkit-text-stroke: 2px $offwhite;
        font-weight: 900;
        font-size: 50px;
        letter-spacing: -0.03em;
        line-height: 45px;
    }

    ul {
        list-style-type: none;

        li {
            height: 45px;
        }
        
        a {
            color: $offwhite;
            text-decoration: none;
            font-size: 24px;
            letter-spacing: 0;
            line-height: 96px;
        }

    }
}
