<div class="container">
    <div class="row">
        <div class="col-xl-2 fixed-top text-right desktop-nav d-none d-xl-block pr-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="300" height="1080" viewBox="0 0 300 1080"><defs><style>.a{fill:#a63a50;}</style></defs><path class="a" d="M1920,1080H1658L1520,0h400Z" transform="translate(-1520)"/></svg>
            <h1 class="text-right">Marcus Franco</h1>
            <ul class="mt-5">
                <li><a href="#" routerLink="/">About</a></li>
                <li><a href="#" routerLink="/education">Education</a></li>
                <li><a href="#" routerLink="/skills">Skills</a></li>
                <li><a href="#" routerLink="/projects">Projects</a></li>
                <li><a href="#" routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>