/* You can add global styles to this file, and also import other style files */
/* Eventually download the actual files */
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap';
@import 'assets/css/variables.scss';

$aos-distance: 20px;
@import 'assets/aos/aos.scss';
@import 'assets/slick/slick.scss';
@import 'assets/slick/slick-theme.scss';

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 200;
    background: $offwhite;
    overflow-x: hidden;
}

.divider {
    display: block;
    height: 4px;
    width: 120px;
    background-color: $primary;
    margin: 32px 0;

    &-white {
        background-color: $offwhite;
    }
}

nav {
    text-align: right;

    #navcon {
        ul {
            padding: 1em 0;

            li a {
                max-width: 10em;
                padding: 0 1em;
                margin-left: auto;
                background: $secondary;

                font-size: 20px;
                letter-spacing: 0;
                line-height: 30px;

                transition: all .3s cubic-bezier(0,1,1,1);
            }
            
            li:first-child a {
                padding: 0.9em 0.9em 0;
            }

            li:last-child a {
                padding: 0 0.9em 0.9em;
            }
        }
    }

    .navbar-toggler {
        border: none;
        border-radius: 0;
        background: $secondary;

        .hamburger {
            display: block;
            width: 32px;
            height: 2px;
            background-color: $offwhite;
            transition: all 0.3s cubic-bezier(0,1,1,1);
            margin: 8px 0;
        }

        &.collapsed {
            .bun { width: 16px; margin-left: auto; }
            .bum { width: 16px; margin-right: auto;}
        }

        &:not(.collapsed) {
            .bun { width: 32px; margin-left: auto; }
            .bum { width: 32px; margin-right: auto;}
        }
    }
}

#section0 {
    padding-bottom: 4rem;

    .background, .overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 25vh;

        @media (min-width: 768px) {
            height: 33vh;
        }
    }

    .background {
        background: $secondary;
    }

    p, span {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 30px;
    }

    h1 {
        font-weight: 900;
        font-size: 50px;

        @media (min-width: 768px) {
            font-size: 120px;
        }
    }

    a[href] {
        color: $primary;
        text-decoration: underline;

        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }

    .header {
        padding-top: 127px;

        h1 {
            color: $offwhite;
        }
    }
}